*{
    box-sizing: border-box;
    font-family:'Arial Narrow Bold', sans-serif;
}

.envoltorio{
    width: 80%;
    margin: 0 auto;
    min-width: 900px;
    background-color: rgb(0, 0, 0);
    
}

header img{
    display: block;
    margin: auto;
    width: 65%;
    height: 275px;
}

.envoltorio #contenido{
    color: white;
    display: flex;
    align-items: stretch;
	justify-content: space-between;
	flex-direction: row;
}

.envoltorio #contenido main{
    padding: 20px 40px;

    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.envoltorio>main>a>img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.envoltorio #contenido main #imgGrande>img{
    width: 85%;
    margin-left: 30px;
}

.envoltorio #contenido main h1{
    font-size: 50px;
    text-transform: uppercase;
}

.envoltorio #contenido main ul{
    font-size: 20px;
    list-style-type: none;
}

.envoltorio #contenido main ul li a{
    text-decoration: none;
    color: rgb(180, 175, 235);
}

.envoltorio #contenido aside{
    padding: 15px 20px;

    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
}

.envoltorio #contenido aside h2{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}

.envoltorio #contenido aside .anuncio img{
            display: block;
			width: 90%;
            margin: auto;
			padding-top: 5px;
}

.envoltorio #contenido aside .anuncio img+p{
			width: 75%;
			margin: 3px auto;
			text-align: center;
            padding: 8px;
            padding-bottom: 18px;			
}

.envoltorio footer{
    flex-basis: 100%;
    display: flex;
    background-color: plum;
    width: 100%;
    height: 10%;
    padding: 10px;
    justify-content: center;
    margin: 20px 0;
    box-sizing: border-box;
}

.envoltorio footer li {
    padding: 10px;
    list-style-type: none;
}

.envoltorio>nav>div>.apartado1{
    margin-left: 20px;
    padding: 10px;
    color:rgb(77, 110, 201);
    text-decoration: none;
    font-size: 24px;
}

.envoltorio>#mainApartado1>div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-bottom: 20px;
}

.envoltorio>#mainApartado1>div>img{
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    width: 15%;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 15px;
}

.envoltorio #mainBlog{
    flex-basis: 60%;
    flex-grow: 1;

    background-color: black;
    color: white;
    padding: 20px;
    width: 50%;
    margin-left:350px;
}

#mainBlog hr{
    color: white;
}

#noticia{
    text-align: center;
}

#noticia img {
    width: 300px;
    float: left;        
    margin-right: 20px; 
    margin-top: 20px;
}


