*{
    box-sizing: border-box;
    font-family:'Arial Narrow Bold', sans-serif;
    
}

#envoltorio{
    width: 80%;
    margin: 0 auto;
    min-width: 900px;
    background-color: rgb(218, 218, 189);
}

#envoltorio #contenido{
    display: flex;
    align-items: stretch;
	justify-content: space-between;
	flex-direction: row;
}

#envoltorio #contenido main{
    padding: 20px 40px;

    flex-basis: 75%;
    flex-grow: 1;
    flex-shrink: 1;
}

#envoltorio #contenido main h1{
    font-size: 54px;
    text-transform: uppercase;
}

#envoltorio #contenido main ul{
    font-size: 20px;
}


#envoltorio #contenido main ul li a{
    text-decoration: none;
}

#envoltorio #contenido aside{
    padding: 15px 20px;

    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
}

#envoltorio #contenido aside h2{
    font-size: 20px;
    text-transform: uppercase;
}

header img{
    width: 100%;
    height: 200px;
}