 
    body {
    box-sizing: content-box;
    display: flex ;
    width: 100%;
    height: 100%;
}

#envoltorio {
    
}

#envoltorio img {

    margin-left: 100px;
    width: 90%;
    height: 80%;
}


#envoltorio footer {
    background-color: plum;
    width: 90%;
    height: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#envoltorio li {
    padding: 10px;
    list-style-type: none;
}