#envoltorio{
    width: 80%;
    margin: 0 auto;
    min-width: 900px;
    background-color: rgb(0, 0, 0);
}

#envoltorio footer{
    display: flex;
    background-color: plum;
    width: 100%;
    height: 10%;
    padding: 10px;
    justify-content: center;
    margin: 20px 0;
    box-sizing: border-box;
}

header img{
    display: block;
    margin: auto;
    width: 65%;
    height: 275px;
}

#envoltorio nav{
display: flex;
background-color: plum;
word-spacing: 20px;
padding-bottom: 50px;
justify-content: center;


}

#envolorio footer{

background-color: plum;



}