#envoltorio{
    width: 100%;
    margin: 0 auto;
    min-width: 900px;
    background-color: rgb(0, 0, 0);
}

#envoltorio footer {
    background-color: plum;
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#envoltorio li {
    padding: 10px;
    list-style-type: none;
}

header img{
    display: block;
    margin: auto;
    width: 65%;
    height: 275px;
}


#envoltorio nav{
display: flex;
background-color: plum;
word-spacing: 20px;
padding-bottom: 50px;
justify-content: center;
flex-basis: 20%;
flex-grow: 1;

}

#envoltorio aside{
    background-color:rgb(41, 41, 219);
    align-items: stretch;
    flex-basis: 20%;
    flex-grow: 1;
    
    
}
    aside img{
    width: 50%;
    height: 20%;
    margin-left: 190px;
}




